# gradle
.gradle/
build/
out/
classes/

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# minecraft
run/

.architectury-transformer/
.github/
common/logs
文档/
反编译/
decompiled/
错误日志/
versions/
